<div class="main-content" >
  <div class="container-fluid" >
    <div class="row" style="padding-left: 200px">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Cadastrar Responsáveis</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome" type="text">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefone" type="text">
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button [routerLink]="['/cliente']" type="submit" class="btn btn-success pull-right">Cadastrar</button>

              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>