.body{background-color: #a0f8bd;}

#barra_pesquisa{padding-top: 10px;}

.table {
    padding-left: 300px;
    padding-right: 50px; 
}

.button5 {
    position: fixed;
    bottom: 40px;
    right: 60px;
    border-radius: 50%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;    
    margin: 4px 2px;
    box-shadow: 2px 2px 5px rgb(177, 175, 175); 
}


.sidenav {
    height: 100%; 
    width: 50px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color:  #fafafa; 
    overflow-x: hidden; 
    box-shadow: 1px 1px 5px rgb(177, 175, 175);    
}

/* The navigation menu links */
.sidenav a{
    padding-top: 10px;        
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

 /* When you mouse over the navigation links, change their color */
.sidenav a:hover {    
    background-color: rgb(179, 176, 176);  
} 

.fa-dollar{
    padding-right: 15px; 
    padding-left: 5px; 
}

.fa-archive{padding-right: 10px;}

.fa-search{padding-right: 10px;}

Style page content
#main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}  


/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}